<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mindsplash">
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.MindSplash.NoActionBar">
        <activity
            android:name=".afterlogin.common.HomeActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.MindSplash.NoActionBar"/>
        <activity
            android:name=".beforelogin.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".beforelogin.OtpVerification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".beforelogin.Login"
            android:screenOrientation="portrait" />
        <activity android:name=".afterlogin.common.learn.LearnActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.learn.activities.ChapterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.learn.activities.ConceptPractiveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.learn.activities.ConceptActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.learn.activities.JeeNetQuations"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.learn.activities.PracticeMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.learn.activities.SchoolPracticeQuations"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.account.MyAccount"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.account.MyBookMarks"
            android:screenOrientation="portrait"/>
        <activity android:name=".afterlogin.common.learn.AskActivity"
            android:screenOrientation="portrait"/>
     <activity android:name=".afterlogin.common.learn.CreditPackaeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".beforelogin.Splash"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>